<!DOCTYPE html>
<html data-bs-theme="light" lang="en" class="backgroundgrad">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
      <title>CreateAccount</title>
      <%= stylesheet_link_tag 'bootstrap.min.css' %>
      <%= stylesheet_link_tag 'Login-with-overlay-image.css' %>
      <%= stylesheet_link_tag 'Ludens-basic-login.css' %>
      <%= stylesheet_link_tag 'styles.min.css' %>
   </head>
   <body class="d-xl-flex align-items-xl-center backgroundgrad">
      <div class="d-flex d-xl-flex align-items-center align-items-xl-center" style="width: 100%;height: 100%;">
         <div class="container">
            <div class="row justify-content-center">
               <div class="col-md-9 col-lg-12 col-xl-10">
                  <div class="card shadow-lg d-xl-flex justify-content-center align-content-center align-self-center o-hidden border-0 my-5" style="border-radius: 0px;width: 1100px;">
                     <div class="card-body p-0" style="border-radius: 0px;box-shadow: 9px 9px 14px 0px var(--bs-border-color-translucent);">
                        <div class="row" style="margin: 0;">
                           <div class="col-lg-6 d-none d-lg-flex filter" style="background: url(<%= asset_path 'pc.avif' %>) no-repeat, var(--bs-body-bg);background-size: cover, auto;">
                              <div style="background: url(&quot;https://cdn.bootstrapstudio.io/placeholders/1400x800.png&quot;);"></div>
                           </div>
                           <div class="col-lg-6">
                            <div class="p-5">
                                <div class="text-center">
                                <h4 class="text-dark mb-4">Create an account</h4>
                                </div>
                                <%= form_with model: @user, local: true, class: 'user' do |form| %>
                                <div style="margin-bottom: 16px;">
                                    <%= form.text_field :name, placeholder: 'Full Name', class: 'form-control' %>
                                </div>

                                <div class="mb-3" style="margin-top: 0px;">
                                    <%= form.email_field :email, placeholder: 'Email Address', class: 'form-control form-control-user', id: 'exampleInputEmail', aria: {describedby: 'emailHelp'}, style: 'padding: 6px;' %>
                                </div>

                                <div class="mb-3">
                                    <%= form.password_field :password, placeholder: 'Password', class: 'form-control form-control-user', id: 'exampleInputPassword' %>
                                </div>

                                <div>
                                    <%= form.password_field :password_confirmation, placeholder: 'Confirm Password', class: 'form-control' %>
                                </div>

                                <div class="mb-3">
                                    <div class="custom-control custom-checkbox small"></div>
                                </div>

                                <!-- reCAPTCHA widget -->
                                <div class="mb-3" style="margin-top: 20px;">
                                    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
                                    <div class="g-recaptcha" data-sitekey="<%= Rails.application.credentials.recaptcha[:site_key] %>"></div>
                                </div>
                                            
                                <%= form.submit 'Sign Up', class: 'btn btn-primary text-bg-primary d-block btn-user w-100', style: 'background: linear-gradient(130deg, rgb(0,147,233) 0%, #73cacb 100%), rgb(1,148,233);' %>
                                <hr>
                                <hr>
                                <% end %>
                            </div>
                            </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </body>
</html>